---
const pageTitle = "About Me";

const identity = {
  firstName: "David",
  country: 'United States',
  occupation: 'Computer Science Professor',
  hobbies: ['Coding', 'Basketball', 'Reading']
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro | {pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About Me</h1>

    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goals is to finished in 3 days.</p> : <p>My goals is not 3 days</p>}

    <p>Here are few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}</li>
      <li>I live in {identity.country} and work as a {identity.occupation}</li>
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)} 
    </ul>

    <h2>... and my new Astro site!</h2>
  
    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
  
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
  </body>
</html>